# Prettier will follow rules specified in .gitignore if it exists in the same directory from which it is run. We can also base our .prettierignore on .eslintignore (if we have one).

package-lock.json